img {
  width: 100%;
  height: auto;
  max-width: 100%;
  display: block;
}

.img-grid-item {
  width: 100%;
  position: relative;
}

.img-grid-item-close-button {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0;
  margin-right: 5px;
  width: 30px;
}

.img-grid-item-video-duration {
  position: absolute;
  text-align: center;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  border-radius: 10px;
  padding: 3px;
  margin: 0px 5px 5px 0px;
  width: auto;
}

.img-grid-item-icon {
  font-size: 30px;
  font-weight: 1000;
  padding: 0;
  color: #ffffff;
}

.img-container {
  padding: 20px;
  height: 100%;
  overflow-y: auto;
}

.img-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
}
