.register-grid-form {
  display: grid;
  grid-template-rows: auto 1fr;
  width: 100%;
  height: 100%;
}

.register-header {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  width: 100%;
  color: #eaeaea;
}

.register-text {
  font-size: clamp(1.5rem, 4vw, 3rem);
  font-weight: 700;
}

.register-underline {
  width: 61px;
  height: 6px;
  background: white;
  border-radius: 9px;
}

.register-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.register-input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-grow: 1;
}

.register-input {
  display: grid;
  grid-template-columns: 2fr 10fr;
  align-items: center;
  height: 50%;
  width: 80%;
  background: #eaeaea;
  border-radius: 6px;
}

.register-input img {
  width: clamp(10px, 50%, 20px);
  height: auto;
  max-width: 100%;
  margin: auto;
}

.register-input input {
  height: 100%;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: #797979;
  font-size: clamp(16px, 2vw, 30px);
}

.register-forgot-password {
  color: #797979;
  font-size: clamp(12px, 2vw, 19px);
}

.register-forgot-password span {
  color: aqua;
  cursor: pointer;
}

.register-submit-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 30px;
  margin: 50px 0px;
}

.register-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 100%;
  padding: 10px;
  color: #fff;
  background-color: #4c00b4;
  border-radius: 50px;
  font-size: clamp(12px, 2vw, 19px);
  font-weight: 700;
  cursor: pointer;
}

/* Styles for small screens (up to 767px) */
@media screen and (max-width: 767px) {
  .register-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80vw;
    height: 65vh;
    background-color: #191919;
    border-radius: 6px;
  }
}

/* Styles for medium screens (768px to 1024px) */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .register-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80vw;
    height: 80vh;
    background-color: #191919;
    border-radius: 6px;
  }
}

/* Styles for large screens (1025px and above) */
@media screen and (min-width: 1025px) {
  .register-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45vw;
    height: 80vh;
    background-color: #191919;
    border-radius: 6px;
  }
}
